#mainSection, #contactSection, #aboutSection, #projectSection {
  min-height: 800px;
}

#contactSection {
  background-color: salmon;
}

#projectSection {
  background-color: salmon;
}

#contactSection a {
  color: #2a6496;
}

#headerImg {
  height: 300px;
}